{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Voltworks - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo.png'%}" rel="icon">
  <link href="{% static 'assets/img/logo.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  {% render_block "css" %}
</head>

<body>
  {% cms_toolbar %}

   <!-- ======= Header ======= -->
   <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
  
        <img src="{% static 'assets/img/logo.png'%}" alt="" width="100vw" height="100vh">
        <!-- <h1>Volt<span>Works</span></h1> -->
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li class="dropdown"><a href="#"><span>Products</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/product_motors">Motors</a></li>
              <li><a href="/product_controllers">Controllers</a></li>
              <li><a href="/product_charger">Chargers</a></li>
            </ul>
          <li><a href="projects.html">Carrier</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Media</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Gallery</a></li>
            </ul> -->
          <li><a href="/contact" style="border: 9px solid rgba(0, 0, 0, 0); background-color: #25d366; text-transform:capitalize; height: 40px; top: -1px;padding: 10px;padding-top: 10px;text-align: center; padding-left: 20px;padding-right: 20px; border-radius: 4px;">Contact US</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/slideshow/1.jpg'%}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>About</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url('{%static 'assets/img/Products/Charger.jpg' %}');"></div>

          <div class="col-lg-7">
            <div class="our-story">
              <p>
                {% placeholder 'about-p-1' %}
              </p>
              <p>
                {% placeholder 'about-p-2' %}
                 
              </p>
              <p>
                {% placeholder 'about-p-3' %}
              
              </p>
              <p>
                We are supported and mentored by the professors of top institutes in the country, such as IIT Kanpur, IIT Madras, IIT Delhi, IIT BHU, and NIT Silchar. Moreover, we have mentors from the EV and Embedded Software industries, such as Mr. Priyank Dahanukar, Electric Vehicles India's founder, Mr. Johannes Huebner, and Mr. Sven Hurlimann.
              </p>
              <p>
                {% placeholder 'about-p-4' %}
               
              </p>
              <!-- <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
              </div> -->
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->


    <!-- Features section -->
    <section id="features" class="features-area item-full text-center cell-items default-padding" style="background-color: #f5f6f7;" data-aos="fade-up" data-aos-delay="200">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="site-heading text-center">
                      <h2 style="color: black;">Our Features</h2>
                      <h4>Checkout our latest features</h4>
                  </div>
              </div>
          </div>
              <div class="row features-items">
                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <div class="icon">
                              <i class="fas fa-tv"></i>
                          </div>
                          <div class="info">
                              <h4>{% placeholder 'about-h4-1' %}</h4>
                              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                              </p> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <div class="icon">
                              <i class="fas fa-headset"></i>
                          </div>
                          <div class="info">
                              <h4>{% placeholder 'about-h4-2' %}</h4>
                              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                              </p> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <div class="icon">
                              <i class="fas fa-chart-line"></i>
                          </div>
                          <div class="info">
                              <h4>{% placeholder 'about-h4-3' %}</h4>
                              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                              </p> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <div class="icon">
                              <i class="fas fa-pen-fancy"></i>
                          </div>
                          <div class="info">
                              <h4>{% placeholder 'about-h4-4' %}</h4>
                              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                              </p> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <div class="icon">
                              <i class="fas fa-tachometer-alt"></i>
                          </div>
                          <div class="info">
                              <h4>{% placeholder 'about-h4-5' %}</h4>
                              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                              </p> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 equal-height">
                      <div class="item">
                          <div class="icon">
                              <i class="fas fa-diagnoses"></i>
                          </div>
                          <div class="info">
                              <h4>{% placeholder 'about-h4-6' %}</h4>
                              <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                              </p> -->
                          </div>
                      </div>
                  </div>
          </div>
      </div>
  </section>


    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Amazing Team</h2>
          <p>Together we will make a difference.</p>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/img/team/Profile Pic (1).jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Devendra Chaudhary</h4>
              <span>Founder and Strategy</span>
            
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/img/team/Himanshu.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Himanshu Sahu</h4>
              <span>Founder and Executions</span>
            
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="{% static 'assets/img/team/Risabh.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Rishabh Singh
              </h4>
              <span>Founder and Technical</span>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="{% static 'assets/img/team/Shashank.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Shashank Kumar</h4>
              <span>Chief Engineer - Software </span>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="{% static 'assets/img/team/Bhavesh.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Bhagyesh Trivedi</h4>
              <span>Chief Engineer - Validation and Prototyping</span>
              </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
            <div class="member-img">
              <img src="{% static 'assets/img/team/Keshav Pathak.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Keshav Pathak</h4>
              <span>Chief Engineer - Mechanical H/W</span>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->


      <!-- == Contact us ==-->
      <section id="get-started" class="get-started section-bg"">
        <div class="container">
  
          <div class="row justify-content-between gy-4">
  
            <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
              <div class="content">
                
                <h3 style=" font-style: IBM plex Sans;font-size: 38px; line-height: 38px; font-weight: bold;">{% placeholder 'about-h3-1' %} </h3>
                <!-- <span style="color: #25d366;" class="auto-type" ></span> -->
                <!-- <h1>Team VoltWorks is happy to be in touch with you.</h1> -->
                <img src="{% static 'assets/img/Contact-US.jpg' %}" alt="" >
               
                <p>{% placeholder 'about-contact-p-1' %}</p>
                
               
              </div>
            </div>
  
            <div class="col-lg-5" data-aos="fade">
              <form action="forms/quote.php" method="post" class="php-email-form">
                <h3 >Get in touch</h3>
                
                <div class="row gy-3">
  
                  <div class="col-md-12">
                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                  </div>
  
                  <div class="col-md-12 ">
                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                  </div>
  
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                  </div>
  
                  <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                  </div>
  
                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your request has been sent successfully. Thank you!</div>
  
                    <button type="submit">Submit</button>
                  </div>
  
                </div>
              </form>
            </div><!-- End Quote Form -->
  
          </div>
  
        </div>
      </section>
  
      <!-- == End of Contact us ==-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <a href="index.html">
                <img src="{% static 'assets/img/logo.png' %}" alt="" width="100vw" height="80%" style="margin-bottom:40px;">

              </a>
              <!-- <h3>Volt<span style="color: #a1c431;">Works</span></h3> -->
              
              <p>              
                D-14, Block D, Sector 10,<br>
                Noida, Gautam Buddha Nagar,<br>
                Uttar Pradesh – 201301<br><br>
                <strong>Phone:</strong>  +91-9651184831<br>
                <strong>Email:</strong> hello@voltworks.in<br>
              </p>
              <!-- <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Tech</a></li>
              <li><a href="#">Media</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li><a href="#">Motors</a></li>
              <li><a href="#">Controller</a></li>
              <li><a href="#">Charger</a></li>
            </ul>
          </div>

          

           <div class="col-lg-2 col-md-3 footer-links" >
             <div class="social-links d-flex mt-3" style="margin-left: 30px;">
                <a href="#" class="d-flex align-items-center justify-content-center" style="margin: 10px;"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"style="margin: 10px;"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"style="margin: 10px;"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"style="margin: 10px;"><i class="bi bi-linkedin"></i></a>
              </div>
          </div><!--End footer links column -->

          <!-- <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li><a href="#">Ipsam</a></li>
              <li><a href="#">Laudantium dolorum</a></li>
              <li><a href="#">Dinera</a></li>
              <li><a href="#">Trodelas</a></li>
              <li><a href="#">Flexo</a></li>
            </ul>
          </div>End footer links column -->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <h3>Made with <img draggable="false" role="img" class="emoji" alt="❤️" src="https://s.w.org/images/core/emoji/14.0.0/svg/2764.svg"> in india</h3>
        <div class="copyright">
          &copy; Copyright <strong><span>VoltWorks</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="index.html">VoltWorks</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>
  <script src="{% static 'assets/js/slide.js' %}"></script>

  {% render_block "js" %}
</body>

</html>